@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
body {
    font-family: 'Lato', sans-serif;
    padding: 1.5em;
    background-color: burlywood;
    overflow-x: hidden;
}
.gameinterface {
    margin: 0%;
    margin-left:0.9em;
    box-shadow: 4px 4px 10px lightslategray;
    background-color: white;
    position: relative;
}

.gameinterfaceone {
    height: 48em;
 
    background-color:rgba(236, 236, 236, 1);
}
.gameinterfaceone i {
    font-size: 0.5em;
}
.gameinterfacetwo i {
    font-size: 0.5em;
}
.gameinterfacetwo {
    height: 48em;
    padding: 1em;
    background-color: white;
}
.displaydee {
    height:5em;
    width: 5em;
    box-shadow: 2px 2px 5px lightslategray;
    background-color: white;
}
.buttons {
    position: absolute;
    top: 4em;
    left: 45%;
    height: 28em;
    font-size: 1.5em;
    cursor: pointer;
}

.scoreglobalone {
    height: 8em;
    width: 8em;
    background-color: red;
    padding: 0.8em;
}

.scoreglobalone p {
    font-size: 3em;
}
.scoreglobaltwo p {
    font-size: 3em;
}



.scoreroundoneT{
    font-size: 8em;
    overflow: hidden;
    width: 2em;
    height: 1em;
}
.scoreroundtwoT{
    font-size: 8em;
    overflow: hidden;
    width: 2em;
    height: 1em;
}

.scoreglobaltwo {
    height: 8em;
    width: 8em;
    background-color: red;
    padding: 0.8em;
}
.pointone {
    color: red;
    font-size: 1em;
    cursor: pointer;
}
.pointtwo{
    color: red;
    font-size: 1em;
    cursor: pointer;
}
.buttons i {
    cursor: pointer;
}


.displaydee i {
    
}

.scoreroundone{
    font-size: 6em;
    position: absolute;
    top: 3em;
}
.scoreroundtwo{
    font-size: 6em;
    position: absolute;
    top: 3em;
}


/* Les éléments d'affichage*/
.playerone, .playertwo {
    position: absolute;
    top: 4em;
    font-size: 3em;
}
.playerone i, .playertwo i {
    margin-left: 1em;
}
.playertwo {
    color: rgba(0, 0, 0, 0.5);
}

/*Gestion des alertes*/
